<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cdac.org.anganvadistaffutility"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="replace"
        tools:targetApi="q">
        <activity
            android:name=".user.activity.infrastructure.KitchenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.infrastructure.WaterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.infrastructure.AreaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.infrastructure.ToiletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.infrastructure.ElectricityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.infrastructure.CrecheActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.infrastructure.AanganwadiBuildingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.LanguageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.infrastructure.AWCInfrastructureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".public_u.activity.PublicOTPVerificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.activity.UserSectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".common.activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait" />

                <category
                    android:name="android.intent.category.LAUNCHER"
                    android:screenOrientation="portrait" />
            </intent-filter>
        </activity>

        <activity
            android:name=".common.activity.SalaryDetailsTblActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".user.activity.personal_details.CardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".user.activity.personal_details.BankActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".user.activity.personal_details.PaymentActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".user.activity.personal_details.JobActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".user.activity.personal_details.ProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".common.activity.UserTypeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".common.activity.SelectLanguageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".common.activity.BaseActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".user.activity.VerifyUserActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".user.activity.VerifyOTPActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".user.activity.HomeActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".admin.activity.ViewAaGanWadiDataActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".admin.activity.ViewInfraStructureActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".admin.activity.ViewInfraStructureDetailActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".admin.activity.EmployeePaymentDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".admin.activity.ShowKPIActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />

        <activity
            android:name=".admin.activity.UsersGraphActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />

        <activity
            android:name=".admin.activity.UsersPieChartActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />

        <activity
            android:name=".admin.activity.DistrictWisePieChartActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />

        <activity
            android:name=".admin.activity.ProjectWisePieChartActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />

        <activity
            android:name=".public_u.activity.BuildingDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".public_u.activity.PublicInfraActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".public_u.activity.PublicLoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".public_u.activity.PublicRegistrationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".common.activity.GeneratePasswordActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".common.activity.UserLoginActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".user.activity.ViewBeneficiaryDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".common.activity.NoInternetActivity"
            android:screenOrientation="portrait" />

        <!--  <service
              android:name=".common.service.LogoutService"
              android:enabled="true"
              android:exported="true" />-->

        <service
            android:name=".common.service.UserLogoutService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".common.receiver.ServiceRestart"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="restartservice" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".common.receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="logout" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".common.receiver.SmsBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>